<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1><%= @user.name %></h1>
            <p><%= link_to "プロフィールを見る", @user %></p>
            <p><b>ツイート:</b> <%= @user.tweets.count %></p>
        </section>
        <section class="stats">
            <div class="stats">
                <a href="<%= following_user_path(@user) %>">
                    <strong id="follower" class="stat">
                    <%= @user.follower.count %>
                    </strong>
                    フォロー
                </a>
                <a href="<%= followers_user_path(@user) %>">
                    <strong id="followed" class="stat">
                    <%= @user.followed.count %>
                    </strong>
                    フォロワー
                </a>
            </div>
            <% if @users.any? %>
            <div class="user_avatars">
                <% @users.each do |user| %>
                <% end %>
            </div>
            <% end %>
        </section>
    </aside>
    <div class="col-md-8">
        <h3><%= @title %></h3>
        <% if @users.any? %>
            <ul class="users follow">
                <% @users.each do |user| %>
                    <li id="tweet-<%= user.id %>">
                        <span class="user"><%=  user.name %></span>
                    </li>
                <% end %>
            </ul>
            <%= will_paginate %>
        <% end %>
    </div>
</div>